[Unit]
Description=Connect Client
After=network-online.target
After=ipsec.service
After=xl2tpd.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'sleep 5; ipsec up l2tp-client; sleep 5; echo "c vpn" > /var/run/xl2tpd/l2tp-control'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
