[Unit]
Description=VPN bot
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/vpn_site/src/main_bot
Environment="PATH=/root/vpn_site/venv/bin"
ExecStart=/root/vpn_site/venv/bin/python3 -u /root/vpn_site/src/main_bot/app.py
Restart=always

[Install]
WantedBy=multi-user.target