<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
</head>
<body>
    <h2>Welcome, admin!</h2>
    <p>You are logged in as an admin.</p>
    <h3>Добавить нового пользователя</h3>
    <form method="post" action="/admin">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="role">Role:</label><br>
        <select id="role" name="role">
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select><br><br>
        <input type="submit" name="add_user" value="Add User">
    </form>

    <h3>Основные комманды</h3>
    <form method="post" action="/admin">
        <input type="submit" name="write_users_to_file" value="Сформировать файл пользователей">
        <input type="submit" name="delete_session" value="Удалить свою сессию">
        <input type="submit" name="delete_all_session" value="Удалить все сессии">
        <input type="submit" name="exit" value="Выход">
    </form>
    {% if error %}
        {% if error == 'session_False' %}
            <p style="color:green;">Все сессии удалены</p>
        {% elif error == 'session_True' %}
            <p style="color:red;">Ошибка удаления сессии</p>
        {% elif error == 'password_False' %}
            <p style="color:green;">Файл пользователей обновлен</p>
        {% elif error == 'password_True' %}
            <p style="color:red;">Ошибка обновления файла пользователей</p>
        {% endif %}
    {% endif %}
    <table>
        <tr>
            <th>PID</th>
            <th>Local IP</th>
            <th>Name</th>
        </tr>
        {% for line in all_session %}
            <tr>
                <td>{{ line[0] }}</td>
                <td>{{ line[1] }}</td>
                <td>{{ line[2] }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
