<!DOCTYPE html>
<html>
<head>
    <title>Меню {{username}}</title>
</head>
<body>
    <h2>Welcome, {{username}}!</h2>
    <h3>Основные комманды</h3>
    {% if error %}
        {% if error == 'session_False' %}
            <p style="color:green;">Все сессии удалены</p>
        {% elif error == 'session_True' %}
            <p style="color:red;">Ошибка удаления сессии</p>
        {% endif %}
    {% endif %}
    <form method="post" action="/user">
        <input type="submit" name="delete_session" value="Удалить свои сессии">
        <input type="submit" name="exit" value="Выход">
    </form>
</body>
</html>
