[Unit]
Description=Periodic sing-box interface check

[Timer]
OnBootSec=20
OnUnitActiveSec=3
AccuracySec=1s
Unit=sing_config.service

[Install]
WantedBy=timers.target
