[Unit]
Description=SING routing
After=network-online.target

[Service]
Type=oneshot
ExecStart=/CURRENT_DIR/vpn_site/others/sing-box/sing_init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
