[Unit]
Description=Check mnl and switch sing-box config
After=network-online.target

[Service]
Type=oneshot
ExecStart=/CURRENT_DIR/vpn_site/others/sing-box/select_config.sh